.container {
  background-color: #ffffff;
  margin: 50px;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.invoices {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #3d405b;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  text-transform: capitalize;
  color: #3d405b;
  font-size: 20px;
  padding: 20px 80px;
  box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.2);
  margin-right: 10px;
}
.invoice_link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  cursor: pointer;
  color: inherit;
  width: 100%;
}
